div {
  width: 500 px;
  padding: 1em;
}

.list-style {
  background-color: #D3E2EE;
  border-radius: 1em;
  max-width: 1000px;
}

h1 {
  font: 40px Helvetica, Verdana, sans-serif;
}

h3 {
  font: 20px Verdana, sans-serif;
}
